.Wrap {}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

span {
    color: #e5b88a;
}

.top {
    line-height: 30px;
    background: #194e92;
    color: #fff;
}

.top .container {
    justify-content: space-between;
}

.top .container ul {
    display: flex;
    gap: 30px;
}

.top .container ul li {
    font-size: 15px;
}

.main_menu {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.main_menu.on {
    top: 0;
    background: #fff;
}

.main_menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #194e92;
}

.main_menu .container {
    display: block;
    text-align: center;
    line-height: 50px;
}

.main_menu .container ul {
    display: flex;
    justify-content: space-between;
}

.main_menu .container ul>li {
    position: relative;
    font-size: 21px;
}

.main_menu .container ul>li::after {
    position: absolute;
    content: "";
    display: block;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #194e92;
    transition: 0.5s;
}

.main_menu .container ul>li:hover::after {
    width: 100%;
}

.main_menu .container ul>li>ul {
    position: absolute;
    display: block;
    background: #194e92;
    width: 160px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: 0.5s;
}

.main_menu .container ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
}

.main_menu .container ul>li>ul>li {
    font-size: 17px;
    color: #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}

.main_menu .container ul>li>ul>li:hover {
    background: #f9f9f9;
}

.main_menu .container ul>li>ul>li:hover a {
    color: #194e92;
}

.main_menu .container ul>li>ul>li::after {
    display: none;
}

.main_menu .container ul>li>ul>li:nth-last-child(1) {
    border-bottom: none;
}

.main_menu.on .container ul>li>ul>li {
    color: #f9f9f9;
}

#video {
    position: relative;
}

.wheel_icon .wheel {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.wheel_icon .wheel span {
    font-size: 0;
    position: absolute;
    top: 4px;
    left: 10px;
    width: 6px;
    height: 12px;
    background: #fff;
    border-radius: 3px;
    animation: wheel 0.5s infinite;
}

#MainVisual .MainSlider figure {
    height: 400px;
    text-align: center;
}

#MainVisual .MainSlider .itm01 {
    background: url('../img/mainvisual01.jpg')no-repeat center center/cover;
}

#MainVisual .MainSlider .itm02 {
    background: url('../img/mainvisual02.jpg')no-repeat center center/cover;
}

#MainVisual .MainSlider .itm03 {
    background: url('../img/mainvisual03.jpg')no-repeat center center/cover;
}

#MainVisual .MainSlider .swiper-pagination {
    bottom: 50px;
}

#MainVisual .MainSlider .swiper-pagination span {
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    opacity: 1;
}

#MainVisual .MainSlider .swiper-pagination span.swiper-pagination-bullet-active {
    background: #194e92;
}

.txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt h2 {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.txt h2::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5px;
    background: #fff;
    border-radius: 10px;
}

.txt p {
    font-size: 20px;
    font-weight: 300;
    padding: 50px 0;
    color: #fff;
    line-height: 1.414;
}

#brand {
    margin: 100px 0;
    padding: 100px 0;
    background: url('../img/bg01.jpg');
}

#brand ul {
    display: flex;
    gap: 100px;
}

#brand ul li {
    position: relative;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 50px;

}

#brand ul li h2 {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    font-size: 15px;
    padding: 5px 15px;
    border: 1px solid #fff;
}

#brand ul li img {
    display: block;
}

#brand ul li p {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

#brand ul li .hover_item {
    position: absolute;
    display: inline-block;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

#brand ul li .hover_item a {
    font-weight: 500;
}

#brand ul li .hover_item:hover {
    background: #fff;
    color: #194e92;
}

#brand ul li:hover {
    background: rgba(0, 0, 0, 0.75);
}

#brand ul li:hover img {
    opacity: 0.25;
}

#brand ul li:hover p {
    display: none;
}

#brand ul li:hover .hover_item {
    opacity: 1;
    visibility: visible;
}